<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add item</title>
</head>
<body>
    <h1><%= message %></h1>
    <form action="/addItem" method="post">
        <label for="itemName">Item name</label><br>
        <input type="text" name="itemName" required >
        <br><br>

        <label for="itemQuantity">Quantity</label><br>
        <input type="number" name="itemQuantity" required>
        <br><br>

        <label for="datetime" >datetime</label><br>
        <p>leave the date of its now</p><br>
        <input type="datetime-local" name="dateTime" required><br><br>

        <input type="submit">
    </form>
</body>
</html>